@font-face {
	font-family: "TF2 Build";
	src: url("./tf2build.ttf");
}

/* configurable vars here */
* {
  --theme-color: #304854;

  --that-white-bg: #e9e7e9;

  --tier-normal: #B2B2B2;
  --tier-unique: #FFD700;
  --tier-vintage: #476291;
  --tier-genuine: #4D7455;
  --tier-strange: #CF6A32;
  --tier-unusual: #8650AC;
  --tier-haunted: #38F3AB;
  --tier-collector: #AA0000;
  --tier-decorated: #FAFAFA;
  --tier-community: #70B04A;
  --tier-valve: #A50F79;

  --content-wall-padding: .6em;
}

/* animations */
@keyframes scrolldown {
  from {
    max-height: 0vh;
  }
  to {
    max-height: 100vh;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4{
	margin: 0;
}

.tf2build {
  font-family: "TF2 Build", Verdana, Arial, Helvetica, sans-serif;
}

html, body {
	margin: 0;
  height: 100%;
}
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a.button {
  text-decoration: none;
  color: unset;
  transition: all .25s;
  padding: 0.5em;
}

a:hover.button {
  color: var(--tier-unique);
  background-color: var(--tier-normal);
}

p {
	margin: 0;
}

.content {
  /* how do i center div */
	display: -webkit-flex;
	display: flex;

	align-items: start;
	justify-content: center;
  flex-direction: column;

	min-height: 100vh;
  /* background: #304854; */
	background: linear-gradient(var(--theme-color) 50%, #162025);
	/* background: linear-gradient(#373839, #252525); */
  color: whitesmoke;
}

.header-title {
  background: var(--tier-collector);

  padding: 0.5em;
  margin: .2em var(--content-wall-padding);
  margin-top: 2em;
}

.box {
  /* #232632 */
	background: var(--that-white-bg);
  color: black;
	/* min-width: 30em; */
	padding: 1em;

  margin: .25em var(--content-wall-padding);
}

.box-faq {
  animation: scrolldown 1s forwards ease-in;
  animation-delay: .4s;

  max-height: 0vh;
  padding-top: 0%;
  padding-bottom: 0%;

  overflow-y: hidden;
}

.faq-header {
  margin-top: .5em;
  background: var(--tier-normal);
  font-size: 1.2em;
  padding: .3em;
}

.faq-desc {
  font-size: .9em;
}

.faq-q {
  font-family: "TF2 Build", Verdana, Arial, Helvetica, sans-serif;
}

.faq-a {

}

.bg-genuine {
  background: var(--tier-genuine);
  color: white;
}

.color-vintage {
  color: var(--tier-vintage);
}

.color-genuine {
  color: var(--tier-genuine)
}

.box li:nth-child(n+2) {
  margin-top: .25em;
}
